<div style="position:fixed;bottom:0em;right:0em; background:black;padding:.2em">
	<h2 style="margin:0;color:white">Navigate using audio</h2>
	<div id="player"></div>
	<input id="hide-player" type="button" value="Hide" style="display:block"/>
</div>
<div style="position:fixed;bottom:0em;right:0em;background-color:#666;display:none">
	<input id="show-player" type="button" value="Show Audio Navigator" />
	<input id="previous" type="button" value="<<" />
	<input id="next" type="button" value=">>" />
</div>
